@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: "Poppins";
}

.header {
    margin-bottom: 150px;
}

.main{
    background-color: hsl(0, 2%, 92%)
}

.footer{
    background-color: hsl(260, 8%, 14%);
}